.ui-datepicker {
    color: $color_dark_purple_date !important;
    border: 0 !important;
    border-radius: 0 !important;
}

.ui-widget.ui-widget-content {
    border: 2px solid $color_dark_purple_date !important;
}

.ui-datepicker-header {
    color: $color_white !important;
    border: 0 !important;
    border-radius: 0 !important;
    background-color: $color_dark_purple_date !important;
}

.ui-corner-all {
    border-radius: 0 !important;
}

.ui-widget-header .ui-icon-circle-triangle-w {
    background-image: url(images/left_arrow_image.png) !important;
    background-position: 0 0;
}

.ui-widget-header .ui-icon-circle-triangle-e {
    background-image: url(images/right_arrow_image.png) !important;
    background-position: 0 0;
}
.ui-datepicker-next-hover {
    top: 0 !important;

    height: 100% !important;

    border: 0 !important;
    background-color: $color_dark_purple !important;
}

.ui-datepicker-prev-hover {
    top: 0 !important;

    height: 100% !important;

    border: 0 !important;
    background-color: $color_dark_purple !important;
}

.ui-state-default {
    text-align: center !important;

    color: $color_white !important;
    border: 0 !important;
    background-color: $color_dark_purple_date !important;
}

.ui-state-active {
    border: 0 !important;
    background-color: $color_light_purple !important;
}

.ui-autocomplete {
    color: $color_dark_purple_date !important;
    border: 1px solid $color_dark_purple_date !important;
    border-radius: 0;
    background-color: $color_white !important;
}
