/* ==========================================================================
   Webfonts
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800|Playfair+Display:400,700|Roboto:300,400,700&subset=latin-ext');

@font-face {
  font-family: 'custom-fonts';
  src: url('../fonts/custom-fonts.eot?3993695');
  src: url('../fonts/custom-fonts.eot?3993695#iefix') format('embedded-opentype'),
       url('../fonts/custom-fonts.woff2?3993695') format('woff2'),
       url('../fonts/custom-fonts.woff?3993695') format('woff'),
       url('../fonts/custom-fonts.ttf?3993695') format('truetype'),
       url('../fonts/custom-fonts.svg?3993695#custom-fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}