.customers-thoughts {
    padding-bottom: 468px;

    text-align: center;

    @include media ('<=phone') {
        padding-bottom: 1442px;
    }
}

.customers-thoughts-title {
    padding-top: 130px;
}

.customers-thoughts-item {
    position: relative;
}

.customer-quote-container {
    position: absolute;
    top: 238px;
    left: 50%;

    width: 316px;
    height: 222px;
    padding-top: 76px;

    transform: translate(-50%);

    background-color: $color_white;
}

.customer-quote {
    position: relative;

    width: 230px;
    margin: 0 auto;

    font-family: $font_default;
    font-size: 16.67px;
    font-weight: lighter;
    &:before {
        position: absolute;
        top: -16px;
        left: -22px;

        content: url(../img/1_mark.png);
    }
    &:after {
        position: absolute;
        right: -22px;
        bottom: -26px;

        content: url(../img/2_mark.png);
    }
}

.side-images-container {
    position: relative;

    display: block;
}

.left-image-figure {
    float: left;

    @include media ('<tablet') {
        position: absolute;
        left: 0;
    }
}

.right-image-figure {
    float: right;

    @include media ('>=phone','<=tablet') {
        position: absolute;
        right: 0;
        top: 0;
    }
    @include media ('<phone') {
        top: 485px;
    }
}

.slider-list {
    position: absolute;
    top: -10px;
    left: 50%;

    overflow: hidden;

    width: 394px;
    height: 507px;

    transform: translate(-50%);

    @include media ('<=phone') {
        top: 478px;
        width: 100%;
    }
}

.quotes-container {
    position: relative;
}

.slider-item {
    position: absolute;
    top: 0;
    left: 0;
}

.active {
    z-index: 12;
}

.next-active {
    z-index: 11;
}
