.customers-thoughts {
    text-align: center;
}

.customers-thoughts-title {
    padding-top: 130px;
}

.customers-thoughts-item {
    position: relative;
}

.customer-quote-container {
    position: absolute;
    top: 238px;
    left: 50%;

    width: 316px;
    height: 222px;
    padding-top: 76px;

    transform: translate(-50%);

    background-color: $color_white;
}

.customers-thoughts-description {
    margin-top: 54px;
    padding-bottom: 86px;
}


.customer-quote {
    position: relative;

    width: 230px;
    margin: 0 auto;

    font-family: $font_default;
    font-size: 16.67px;
    font-weight: lighter;
    &:before {
        position: absolute;
        top: -16px;
        left: -22px;

        content: url(../img/1_mark.png);
    }
    &:after {
        position: absolute;
        right: -22px;
        bottom: -26px;

        content: url(../img/2_mark.png);
    }
}

.swiper-container {
    display: flex;
    flex-direction: row;

    width: calc(100vw - 17px);
    height: 507px;

    justify-content: space-between;
}

.swiper-slide {
    left: 50%;

    width: 30.3%;
    height: 100%;

    transform: translate(-50%);

        @include media ('<=460px') {
            width: 100%;
            left: 0;
            transform: translate(-50%);

        }
}

.slider-item-center {
    left: 50%;

    transform: translate(-50%);
}
