.destination {
    width: 100%;
    height: 100px;
    margin-top: -88px;
    padding: 57px 0 121px;

    background: linear-gradient(to bottom, #500e5e 98%,#430c4f 100%);
}

.destination-form {
    position: relative;

    display: flex;

    font-family: $font_default;
    font-size: 19.92px;
    font-weight: lighter;
}

.input {
    height: 100%;
    padding: 15px 0;

    color: $color_white;
    border: 0;
    background-color: transparent;
}

.text-input {
    width: 195px;
    margin-left: 46px;

    border-bottom: 2px solid $color_light_purple;
}

.input-container {
    display: flex;

    height: 100%;

    justify-content: space-between;
    align-items: center;
}

.date-input {
    width: 140px;
    padding-left: 22px;

    background-color: transparent;
}

.date-image {
    margin-left: 60px;

    cursor: pointer;
}

.number-container {
    position: absolute;
    right: 110px;
}

.number-input {
    width: 55px;
    padding: 0;
    padding-left: 20px;
}

.arrow {
    margin-left: 20px;

    cursor: pointer;
}
