.destination {
	width: 103%;
	height: 100px;
	margin-top: -88px;
	padding: 57px 0 121px;

	background: linear-gradient(to bottom, #500e5e 98%,#430c4f 100%);
	box-shadow: 0 10px 20px rgba( 4, 4, 4, .4);

	@include media ('<=tablet') {
		width: 100%;
		height: 100%;
	}
}

