/* ==========================================================================
    Hero
   ========================================================================== */

.hero {
    background: url(../img/hero_image.png) no-repeat 50% 50%;
    background-size: cover;
}

.hero-title {
    padding: 245px 0 305px;

    font-family: $font_playfair;
    font-size: 109.24px;
    font-weight: normal;

    color: $color_white;

    @include media ('<tablet') {
        font-size: 56px;
    }
}
