.popular-destinations-title {
    padding-top: 140px;
}

.popular-destinations-description {
    margin-top: 54px;
    padding-bottom: 16px;

    text-align: justify;
}

.popular-destinations-item {
    margin-top: 164px;
}

.popular-destinations-image-description {
    font-family: $font_default;
    font-size: 20.83px;
    font-weight: 800;

    text-align: center;
    text-transform: uppercase;
}
